.git
.github

node_modules
**/node_modules

dist
**/dist

coverage
**/coverage

.env
.env.*
**/.env
**/.env.*

*.log
npm-debug.log*

apps/web/cypress/screenshots
apps/web/cypress/videos
apps/web/cypress/downloads

.vscode
.idea
.DS_Store

apps/api/drizzle-backup
apps/api/drizzle-failed